{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% for i in range(results|length) %}
        {% set result = results[i] %}
        {% set plot_url = plot_urls[i] %}

        <!-- Nama Model -->
        <h2>{{ result.model_name }}</h2>

        <!-- Evaluation Metrics -->
        <h3>Evaluation Metrics</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Class</th>
                    <th>Precision</th>
                    <th>Recall</th>
                    <th>F1-Score</th>
                    <th>Support</th>
                </tr>
            </thead>
            <tbody>
                {% for label, metrics in result.report.items() if label != 'accuracy' %}
                    <tr>
                        <td>{{ label }}</td>
                        <td>{{ metrics['precision'] | round(2) }}</td>
                        <td>{{ metrics['recall'] | round(2) }}</td>
                        <td>{{ metrics['f1-score'] | round(2) }}</td>
                        <td>{{ metrics['support'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Confusion Matrix -->
        <div class="heatmap">
            <h3>Confusion Matrix</h3>
            <img src="data:image/png;base64,{{ plot_url }}" alt="Confusion Matrix for {{ result.model_name }}">
        </div>
        <hr>
    {% endfor %}
{% endblock %}
