{% extends "layout.html" %}

{% block content %}
    <h5>Formulir Prediksi Konsumsi Baterai</h5>
    <form method="POST">
        <div class="mb-3">
            <label for="app_usage_time" class="form-label">App Usage Time (min/day):</label>
            <input type="number" class="form-control" id="app_usage_time" name="app_usage_time" required>
        </div>
        <div class="mb-3">
            <label for="screen_on_time" class="form-label">Screen On Time (hours/day):</label>
            <input type="number" class="form-control" id="screen_on_time" name="screen_on_time" step="any" required>
        </div>
        <div class="mb-3">
            <label for="data_usage" class="form-label">Data Usage (MB/day):</label>
            <input type="number" class="form-control" id="data_usage" name="data_usage" required>
        </div>
        <div class="mb-3">
            <label for="num_apps_installed" class="form-label">Number of Apps Installed:</label>
            <input type="number" class="form-control" id="num_apps_installed" name="num_apps_installed" required>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age:</label>
            <input type="number" class="form-control" id="age" name="age" required>
        </div>

        <div class="mb-3">
            <label for="algorithm" class="form-label">Choose Algorithm:</label>
            <select class="form-control" id="algorithm" name="algorithm" required>
                <option value="random_forest">Random Forest</option>
                <option value="linear_regression">Linear Regression</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Prediksi</button>
    </form>

    {% if prediction %}
        <h2 class="mt-4">Prediksi Konsumsi Baterai ({{ algorithm }}): {{ prediction }} mAh/day</h2>
    {% endif %}

    {% if rf_prediction %}
        <h2 class="mt-4">Prediksi dengan Random Forest: {{ rf_prediction }} mAh/day</h2>
    {% endif %}

    {% if lr_prediction %}
        <h2 class="mt-4">Prediksi dengan Linear Regression: {{ lr_prediction }} mAh/day</h2>
    {% endif %}
{% endblock %}
